<div class="container">
  <div class="col-lg-8 col-lg-offset-2">

<form action="/" method="post">
<label for="name">Choose a Voice</label><br>
<input type="radio" name="func" value="lpulse">Led Pulse<br>

<input type="radio" name="func" value="lblink">Led Blink<br>

<input type="radio" name="func" value="lstrobe">Laser Strobe<br>
<input type="radio" name="func" value="mstart">Motor Start<br>
<input type="radio" name="func" value="mstop">Motor Stop<br>
<input type="radio" name="func" value="lcolor1">LED Color = #FF0000<br>
<input type="radio" name="func" value="lcolor2">LED Color = #0000FF<br>
<input type="radio" name="func" value="lcolor3">LED Color = #FFFF00<br>
<input type="radio" name="func" value="lcolor4">LED Color = #FF66FF<br>
<input type="submit" value="Submit"/></p>
</form>

  </div>

</div>
