.face {
    -webkit-animation: shrinkGrow 2s; /* Chrome, Safari, Opera */
    animation: shrinkGrow 2s;
}

@-webkit-keyframes shrinkGrow {
from { width: 1000px; height: 1000px;  }
to { width: 1px; height: 1px;}

}
@keyframes shrinkGrow {
from { width: 200px; height: 200px; }
to { width: 100px; height: 100px; }
}

.effect{
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
letter-spacing: 5px }

.effect2{
color: rgba(0, 168, 255, 0.5);
text-shadow: 3px 3px 0 rgba(255, 0, 180, 0.5);
letter-spacing: 0 }

.blueguy{

  }

  @-webkit-keyframes slide {
    from{
        background:left;
    }
    to{
        background:right;
    }
}

.logo{

    -webkit-animation: slide 1s linear infinite;
}

@-webkit-keyframes bounce {
0% { top: 4px; }
100% { top: 0; }
0% { bottom: 4px; }
100% { bottom: 0; }
}

@keyframes bounce {
0% { top: 4px; }
100% { top: 0; }
0% { bottom: 4px; }
100% { bottom: 0; }
}

@-webkit-keyframes fader {
    0%   {background: red; left:0px; top:0px;}
    25%  {background: yellow; left:200px; top:0px;}
    50%  {background: blue; left:200px; top:200px;}
    75%  {background: green; left:0px; top:200px;}
    100% {background: red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes fader {
    0%   {background: red; left:0px; top:0px;}
    25%  {background: yellow; left:200px; top:0px;}
    50%  {background: blue; left:200px; top:200px;}
    75%  {background: green; left:0px; top:200px;}
    100% {background: red; left:0px; top:0px;}
}

.fader{

    -webkit-animation: bounce 5s linear infinite;
    animation: bounce 5s linear infinite;
}


.bounce{

    -webkit-animation: bounce 5s linear infinite;
    animation: bounce 5s linear infinite;
}
